@model TilerFront.Models.ChangeStartOfDayModel

@{
    ViewBag.Title = "Update Start of Your Day";
}

<h2>@ViewBag.Title.</h2>

<div>
    @using(Html.BeginForm("ChangeStartOfDay","Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            @Html.LabelFor(m => m.TimeOfDay, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TimeOfDay, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TimeOfDay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
    
</div>

