@model TilerFront.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<head>
    <title>Tiler Settings</title>
    @Styles.Render("~/Content/TilerDesktopSettingsCss")
</head>
<script>
    function RetrieveUserCredentials()
    {
        var retValue = { UserName: "@Model.UserName", ID: "@Model.Id", Name: "@Model.FullName" };
        retValue.Name=retValue.Name.split(" ")[0]
        UserCredentials = retValue;
        return retValue;
    }
    RetrieveUserCredentials();
</script>
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="SettingSectionContainer">
        <div class="SettingSection">
            <div class="LabelSection">
                <label>Password</label>
            </div>
            <div class="ContentDescription">

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }

            </div>

        </div>
        <div class="SettingSection" onclick="location.href = '/Manage/ManageLogins'">
            <div>
                <div class="LabelSection">
                    <label>External Logins</label>
                </div>
                <div class="ContentDescription">
                    Number Of Social Logins - @Model.Logins.Count
                </div>
            </div>
        </div>
        <div class="SettingSection" onclick="location.href = '/Manage/ChangeStartOfDay'">
            <div>
                <div class="LabelSection">
                    <label>Set End of Day</label>
                </div>
                <div class="ContentDescription">
                    Update End of Day(Think When I go home/ go to bed)
                </div>
                <div></div>
            </div>
        </div>

        <div class="SettingSection" onclick="location.href = '/Manage/ImportCalendar'">
            <div>
                <div class="LabelSection">
                    <label>Import New Calendar</label>
                </div>
                <div class="ContentDescription">
                    You can import your other calendars, google calendar
                </div>
                <div></div>
            </div>
        </div>

        <div class="SettingSection ScheduleDump">
            <div>
                <div class="LabelSection">
                    <label>Create schedule Dump</label>
                </div>
                <div>
                    <textarea placeholder="It's a new dump" id="scheduleDumpNotes" class="ContentDescription"></textarea>
                </div>
                <div id="DumpReferenceId" class="UpdateSecion">
                    <a id="dumpHref" download=""></a>
                </div>
                <div>
                    
                </div>
            </div>
            <div id="submitDumpButtonContainer">
                <button id="submitDumpButton">Submit Dump</button>
            </div>
        </div>
    </div>
    @*


        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd>
    *@
    @*
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>*@
    </dl>
    <div id="LoadingScreenPanel"></div>
</div>
@Scripts.Render("~/Content/ManagePageJS")
